html {
  margin: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
  margin: 0;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.account-list {
  background-color: lightgray;
  color: black;
  border-bottom: black 1px solid; 
  width: 100%;
  margin: 0;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.profile-pic {
  display: block;
  margin: 0 auto;
  margin-left: -40%;
  height: 100%;
  width: auto;
}

.profile-username {
  text-align: center;
  font-size: 7em;
}

.active {
  background-color: #4CAF50;
}

.fade-text {
  animation-name: fadeOut;
  animation-duration: .5s;
}

.request-follow-button{
  background-color: blue;
  color: white;
  border: solid blue 2px;
  border-radius: .5em;
  width: auto;
  height: auto;
  font-size: 2em;
  padding: .2em .5em .2em .5em;
}
.request-unfollow-button{
  display: inline-block;
  background-color: white;
  color: darkblue;
  border: solid blue 2px;
  border-radius: .5em;
  width: auto;
  height: auto;
  font-size: 2em;
  padding: .2em .5em .2em .5em;
}
.request-follow-button:hover{
  animation-name: follow-hover;
  animation-duration: .2s;
  background-color: white;
  color: blue;
}

.request-unfollow-button:hover{
  animation-name: unfollow-hover;
  animation-duration: .2s;
  background-color: blue;
  color: white;
}

@keyframes follow-hover{
  from {background-color: blue;}
  to {background-color: white;}
  from {color: white;}
  to {color: blue;}
}

@keyframes unfollow-hover{
  from {background-color: white;}
  to {background-color: blue;}
  from {color: blue;}
  to {color: white;}
}

.request-game-button {
  display: inline-block;
  color: white;
  border: solid darkgreen 2px;
  border-radius: .5em;
  width: auto;
  height: auto;
  font-size: 2em;
  padding: .2em .5em .2em .5em;
  background-color: #4CAF50;
}

.request-game-button:hover {
  animation-name: game-hover;
  animation-duration: .2s;
  color: #4CAF50;
  background-color: white;
}

@keyframes game-hover{
  from {background-color: #4CAF50;}
  to {background-color: white;}
  from {color: white;}
  to {color: #4CAF50;}
}

.user-level {
  text-align: center;
  color: darkblue;
  font-size: 2em;
}

.button-group-outer {
  width:100%;
  text-align: center;
}

.button-group-inner {
  display: inline-block;
}

.user-stats-wrapper {
  text-align: center;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 2em;
}
.user-stats {
  margin-top: 1em;
}

@keyframes text-fade{
  from {opacity: 1;}
  to {opacity: 0;}
}

.fade-text {
  animation-name: text-fade;
  animation-duration: .4s;
  opacity: 0;
}

.index-wrapper-page {
  display: flex;
}

/* Clear floats after the columns */
.index-page-column {
  flex: 50%;
}

.index-self-title{
  color: #4CAF50;
  text-align: center;
  margin-top: .5em;
  font-size: 3em;
  margin-bottom: 1em;
}
.index-follow-title{
  color: #0000FF;
  text-align: center;
  margin-top: .5em;
  font-size: 3em;
  margin-bottom: 1em;
}

.follow-user-block {
  margin-top: 10px;
  border-top: 2px black solid;
  border-bottom: 2px black solid; 
  padding: 6px 0 6px 0;
  background-color: lightblue;
}

.follow-user-username{
  display: inline-block;
  width: 20%;
  font-size: 1.8vw;
}

.follow-user-lastOn{
  display: inline-block;
  width: 50%;
  font-size: 1.8vw;
}

.follow-user-profile-link{
  display: inline-block;
  width: 20%;
  font-size: 1.8vw;
}

.followed-user-self {
  display: inline-block;
  width: 100%;
  font-size: 1.8vw;
}

.self-user-block {
  margin-top: 10px;
  border-top: 2px black solid;
  border-bottom: 2px black solid; 
  padding: 6px 0 6px 6px;
  background-color: lightgreen;
}
.login-input {
    padding: 5px;
    width: 10em;
    font-size: 2em;
    border-radius: .3em;
    border: .03em #4CAF50 solid;
    color: #4CAF50;
}
.input-center{
    display: block;
    margin: 5px auto 5px auto;
}
.button{
    background-position-y: -100%;
    background: linear-gradient(#4CAF50, #0000FF);
    background-size: auto 200%;
    animation-name: button-unhover-login;
    animation-duration: .5s;
    background-position-y: 0%;
    height: 2em;
    width: auto;
    padding: 0 10px 0 10px;
    font-size: 1em;
    border-radius: .7em;
    border: solid black 1px;
    color: black;
    display: block;
    margin: 0 auto 5px auto;
}
.button:hover{
    background-position-y: 0%;
    animation-name: button-hover-login;
    animation-duration: .5s;
    background-position-y: 100%;
}
@keyframes button-unhover-login{
    from {background-position-y: -100%;}
    to {background-position-y: 0%;}
}
@keyframes button-hover-login{
    from {background-position-y: 0%;}
    to {background-position-y: -100%;}
}
.link-container-center {
    display: center;
    margin: 0 auto 0 auto;
    text-align: center;
}
.login-title{
    text-align: center;
    color: #4CAF50;
    font-size: 4em;
    margin-bottom: 20;
}
@keyframes fade-out-text{
    from {opacity: 1;}
    to {opacity: 0;}
}
.fade-out {
    animation-name: fade-out-text !important;
    animation-duration: .5s !important;
    opacity: 0 !important;
}